/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.app-wrapper{
  width: 1440px;
  margin-left: auto;
  display: grid;
  grid-template-rows: 230px 648px 1fr;
  grid-template-columns: 380px 1fr 200px;

  grid-template-areas:
          "header header header"
          "navigation main main"
          "other main main"
}